@font-face {
    font-family: 'Magnolia Script';
    src: url('./../font/Magnolia\ Script.otf');
}

html, body {
    font-family: 'Magnolia Script';
}

.modal-window {
  position: absolute;
  z-index: 9;
}

.modal-window-header {
  cursor: move;
  z-index: 10;
}