@font-face {
    font-family: 'Magnolia Script';
    src: url('./../font/Magnolia\ Script.otf');
}

html, body {
    font-family: 'Magnolia Script';
}

.modal-window {
  position: absolute; /* чтобы можно было двигать */
  max-width: 600px;
  width: 90%;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  animation: win-open 0.25s ease-out;
}

.modal-window-header {
  cursor: move; /* перетаскивание */
  background: black;
  color: white;
  z-index: 10;
}

@keyframes win-open {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}
